
{% block content %}
<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #d728dd;
    }
    
    .head_text {
        color: rgb(32, 219, 188);
    }
    
    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
   
        a:link {
          color: rgb(15, 14, 15);
          background-color: transparent;
          text-decoration: none;
        }
        
        a:visited {
          color: pink;
          background-color: transparent;
          text-decoration: none;
        }
        
        a:hover {
          color: red;
          background-color: transparent;
          text-decoration: underline;
        }
        
        a:active {
          color: yellow;
          background-color: transparent;
          text-decoration: underline;
        }
        


</style>

         

<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
       
        <div class="col-md-6 mx-auto ">
            
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ post.title }}</h2>
                    <h6>cotegory:{{post.cotegory}}</h6>
                    <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on}} </p>
                    <p class="card-text">{{post.content|slice:":10000" }} </p> 
                   
                   
                   
                </div>
                <p> <img src="{{ post.image.url }}" class="img-responsive" style="width: 30%; float: left; margin-right: 10px;" /></p>
                  
              
                 <h1>login and comment</h1>
                 
                <form method="POST" action="/like">
                    {% csrf_token%}
                    
                     <input type="hidden" name="postid" value="{{post.id}}">
                    <input type="submit" value="like">  {{like.count}}
                </form>
               
            
                <form method="POST" action="/comment">
                    {% csrf_token%}
                    <input type="textarea" name="comment">
                     <input type="hidden" name="postid" value="{{post.id}}">
                    <input type="submit" value="comment">  
                </form>
                     {% if cm.count %}
                    <h4>Total comment:{{cm.count}}</h4>

                    {%else%}
                    <h5>No comment still</h5>
                    {%endif%}
                
                    
                    
                {% for data in cm%}
                <h5>user:{{data.userc}} |{{data.comment}}</h5>
                {%endfor%}
            </div>
           
            
        </div>
     
    </div>
</div> 
{%endblock%}